#mobile_header .menu a.logo img{
	width: 100%;
}
#mobile .ant-layout-header{
	padding-right: 0px!important;
	padding-left: 0px!important;
}

#mobile_header .menu .ant-col-8 .ant-menu{
	margin-top: 10px;
	border-radius: 5px;
	background-color: #000;
	color: #fff;
}
#mobile_header .menu .ant-col-8 .ant-menu .ant-menu-item a {
	color: rgb(16,142,233);
}
#mobile_footer{
	text-align: center;
}

.menuWrap>.ant-col-8{
	text-align: center;
	color: #fff;
}