#pc_header a.logo img{
	width: 120px;
}
#pc_header .ant-menu{
	background-color: rgb(64,64,64);
	color: #fff;
}
#pc_header .ant-menu-horizontal{
	border-bottom: none;
	margin-top: 10px;
}
#pc_footer{
	text-align: center;
}
#pc_header Button.userInfor{
	margin-right: 10px;
}
#pc_header .ant-col-18.menuBar{
	position: relative;
}
#pc_header .ant-col-18 .menuBtn{
	position: absolute;
	top:0px;
	right: 30px;
}
.pc_login .ant-modal-footer{
	display: none;
}

/*************header*******************/
.modal-title{
	position: relative;
    top: -63px;
    right: 16px;
    display: block;
    width: 720px;
    height: 48px;
}
#pc_header .ant-col-18 .menuBtn {
    position: absolute;
    top: 45px;
    right: 30px;
}


/****************  content ********************/
/***********  carousel *************/
#pc .ant-carousel .slick-slide img{
	width: 100%;
}

#pc .cstNewsList .ant-card-bordered {
    border: 1px solid #d8d3d3;
}
#pc .cstNewsList .ant-card{
	background-color: transparent;
}
#pc .cstNewsblock ul>li{
	padding: 2px;
}
#pc .cstNewsblock ul>li img{
	width: 100%;
}
#pc .cstNewsblock ul>li>a>p{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/****************  end of content ********************/


